.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flashing {
  animation: flashing-text infinite 0.75s steps(1) alternate;
}

@keyframes flashing-text {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
