@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-size: 10px;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 50px;
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: rgb(255, 255, 255);
  }
  &-title {
    font-size: 2rem;
  }
  &-intro {
    margin: 25px auto;
    font-size: large;
    max-width: 500px;
  }
}

.keypad-container {
  margin-top: 25px;
}

.wordlist-container {
  margin-top: 25px;
}

/*
  ANIMATIONS
*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flashing {
  animation: flashing-text infinite 0.75s steps(1) alternate;
}

@keyframes flashing-text {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*
  MEDIA QUERIES
*/

@media screen and (max-width: 560px) {
  .App {
    &-logo {
      display: none;
    }
  }
}
